.contact__number {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
}

.contact__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  width: 208px;
  height: 21px;
  display: inline-block;
  padding-top: 5px;
}

.contact__img {
  display: none;
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 131,98px;
  height: 1px;
  background-color: #fff;
}