.footer {
  background-color: #2f324b;
  width: 100%;
}

.footer__container {
  padding: 45px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
}

.footer__text-2 {
  display: none;
}

.footer__desktop {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding-right: 4px;
}

.footer__contact .footer__number {
  padding-top: 0px;
  padding-right: 1px;
}

.footer__contact .footer__feedback {
  padding-top: 3px;
}
